$primary-font: "Poppins", Arial, sans-serif;
$primary-color: #111111;
$secondary-color: #999999;
$full-width: 100%; 
$full-height: 100%; 
$primary-bg: #f8f8f8;
$secondary-bg: #f4bf2c;
$header-width :1320px;